<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="scroll.css">
    <script defer src="scroll.js"></script>
</head>
<body>
    <div class="cotainer">
        <h1>scroll to animate</h1>
        <div class="box blue">Content</div>
        <div class="box red">Content</div>
        <div class="box yellow">Content</div>
        <div class="box blue">Content</div>
        <div class="box red">Content</div>
        <div class="box yellow">Content</div>
        <div class="box blue">Content</div>
        <div class="box red">Content</div>
        <div class="box yellow">Content</div>
    </div>  
</body>
</html>